@import "zmienne";
@import "mixins";


footer {

    padding: 30px;
    background: $gray;
    
    .foot-row{
        
        padding-bottom: 15px;
        
    }

    a {
        @include btn;
        @include yellow-bg;
        padding-bottom: 25px;

    }

}
