body {
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: top;
  font-family: Open Sans; }

.row {
  width: 100%; }

.fa-phone {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  direction: rtl; }

.main-container {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  color: #fff; }

.main-header {
  width: 100%;
  padding: 20px; }
  .main-header h1,
  .main-header h3 {
    display: inline; }
  .main-header .logo {
    width: 100%;
    height: 100%; }
    .main-header .logo i {
      font-size: 2.5rem;
      color: #ecd407; }
    .main-header .logo h1 {
      font-weight: bolder; }
  .main-header .contact {
    width: 50%; }
    .main-header .contact .contact-left {
      padding-right: 0 !important; }
      .main-header .contact .contact-left i {
        font-size: 1.5rem;
        font-weight: bolder;
        padding: 15px;
        border-radius: 0;
        padding-top: 10px; }
    .main-header .contact .contact-right p {
      padding: 0;
      margin: 0;
      font-size: 0.8rem; }

.form-section {
  padding: 5% 10%; }
  .form-section header {
    width: 100%;
    margin-bottom: 5px; }
    .form-section header span {
      color: #ecd407; }
  .form-section .main-form {
    width: 100%;
    margin-bottom: 5px;
    background: #001d8a;
    padding: 15px; }
    .form-section .main-form button {
      font-size: 1.5rem;
      font-weight: bolder;
      padding: 15px;
      border-radius: 0;
      background: #ecd407;
      color: black; }
      .form-section .main-form button:hover {
        opacity: 0.9; }

footer {
  padding: 30px;
  background: #292929; }
  footer .foot-row {
    padding-bottom: 15px; }
  footer a {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 15px;
    border-radius: 0;
    background: #ecd407;
    color: black;
    padding-bottom: 25px; }
