@import "zmienne";
@import "mixins";

.form-section {
    width: 100%;
    padding: 5% 10%;

    //    height: 300px;
    //    height: auto;


    header {
        @include form-pos;

        span {
            color: $yellow;
        }
    }


    .main-form {
        @include form-pos;

        background: $blue;
        padding: 15px;

        button {

            @include btn;

        }

    }

}
