@import "zmienne";
@import "mixins";

body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: top;
    font-family: $font;
}

.row {
    @include width100;
}

.fa-phone {
    @include reverse-btn;
}


