@import "zmienne";

@mixin zero-pad-marg {
    padding: 0;
    margin: 0;
}

@mixin width100 {
    width: 100%;
}

@mixin  yellow-bg{
    background: $yellow;
    color: black;
}

@mixin form-pos {
    width: 100%;
//    margin-right: 10%;
    margin-bottom: 5px;
}

@mixin btn{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 15px;
    border-radius: 0;
}

@mixin reverse-btn{
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -o-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                unicode-bidi: bidi-override;
                direction: rtl;
}
